# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# PyCharm specific
.idea/
*.iml

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage
htmlcov/
.tox/
.nox/
coverage.*
.cache
.pytest_cache/
nosetests.xml
test-results.xml
junit-*.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Docker
*.pid

# MyPy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# pytype
.pytype/

# pip-tools
pip-wheel-metadata/

# Other editors
*.swp
*.swo
*.swn
*.bak
*.tmp